{{- $src := .Destination -}}
{{- $alt := .Text -}}
{{- $title := .Title -}}

{{- if hasPrefix $src "/" -}}
  {{- $src = printf "%s%s" (strings.TrimSuffix "/" .Page.Site.BaseURL) $src -}}
{{- else -}}
  {{- $src = printf "%s/%s" (strings.TrimSuffix "/" .Page.Site.BaseURL) $src -}}
{{- end -}}

<figure{{ if $title }} class="image-figure"{{ end }}>
  <img src="{{ $src }}" alt="{{ $alt }}"{{ if $title }} title="{{ $title }}"{{ end }}>
  {{- if $title -}}
  <figcaption>{{ $title }}</figcaption>
  {{- end -}}
</figure>
